{% extends "::base.html.twig" %}

	{% block brand %}
		<div class="brand">Connection</div>       
	{% endblock %}


	{% block container %}
		<div class="container" style="background-color: white;text-align:center;margin-bottom:45px;">
			{% block fos_user_content %}
				{% if error %}
				    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
				{% endif %}

				<h2>Connection :</h2>

				<form action="{{ path("fos_user_security_check") }}" method="post">
				    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

				    <label for="username"> Username </label><br>
				    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /><br>

				    <label for="password"> Mot de passe </label><br>
				    <input type="password" id="password" name="_password" required="required" /><br>

				    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /><br>
				    <label for="remember_me"> Se souvenir de moi </label><br>

				    <input type="submit" id="_submit" name="_submit" value="Validez" class="btn btn-success" style="margin-bottom:35px;"/>
				</form>
			{% endblock fos_user_content %}
		</div>

	{% endblock %}